<h1>Signup to MyFeelings</h1>

<form method="POST" action="/create-user">
  <label>Email</label>
  <input type="text" name="[user]email">

  <label>Password</label>
  <input type="text" name="[user]password">

  <input type="submit">

</form>